/* .container{
    padding: 20px;
}  */
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 223, 225);
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-image: url(../login/img/107692.jpg);
    
}
.title{
    font-size: 50px;
    color: white;
}
.fromlogin{
    font-size: 20px;
}
.cardlogin{
    width: 25%;
    background-color:rgb(52, 73, 94);
    padding: 20px; /*ระยะขอบ*/
    border-radius: 1em;
    opacity: 0.85;
}
.input{
    width: 5%;
}
.buttonlogin{
    margin-top: 20px;
    width: 30%;
    font-size: 20px;
    background-color:rgb(6, 186, 241);
}
.fontinput{
    text-align: left;
    color: white;
}


