.loginhome{
    background-color: blue;
}

.bodyback{
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    background-image: url(../login/img/107692.jpg);
    background-position: center;   
}
.textheader2{
    font-size: 20px;
    color: white;
}