.App {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(../login/img/309047.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    
  }
  
  
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  .buttonHome{
    margin-top: 20px;
      height: 40px;
      font-size: 30px;
      box-shadow: lawngreen;
  }
  .profilepicture{
    width: 20%;
    text-align: left;
    border-radius: 100%;
  }
  .fontsignedin{
    font-size: 30px;
  }
  .fontwelcome{
    color: white;
  }
  .buttonsingnout{
    margin-top: 20px;
    height: 40px;
    font-size: 20px;
    color: #000;
    
  }
  .formlogin{
    width: 25%;
    background-color:rgb(52, 73, 94);
    padding: 20px; /*ระยะขอบ*/
    border-radius: 1em;
    opacity: 0.85;
    text-align: center;
  }
  
  