.topMenu {
  float: right;
  display: block;
}
.textheader {
  float: left;
  font-size: 30px;
  color: white;
  margin: 10px 10px;
}
.textheader2 {
  float: right;
  font-size: 20px;
  color: white;
  margin: 15px 10px;
}
.buttonlogout{
  float: right;
  font-size: 20px;
  color: white;
  margin: 10px 10px;
}
.header {
  position: fixed;
  width: 100%;
  background-color: rgb(46, 49, 49);
  height: 60px;
  z-index: 1500;
}

.sider {
  background-color: rgb(52, 73, 94);
  position: fixed;
  top: 60px;
  width: 200px;
}
.submenu {
  background-color: #bcd5f3;
  color: black;
}
.optionmenu {
  background-color: #d4eef1;
}
.allSide {
  position: relative;
  background-color: white;
  width: auto;
  height: auto;
  min-width: 100em;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100em;
  margin-top: 60px;
}
.propicture{
  width: 3%;
  text-align: right;
  float: right;
  border-radius: 100%;
  align-content: center;
  margin-top: calc((60px - 3%) / 2);
}
.buttonEditer{
  text-align: right;
}
/* .cardpicture{
  height: 100%;
  width: 100%;
  display: inline;
  background-color: white;
}
.cardName{
  height: 100%;
  width: 100%;
  display: inline;
  background-color: white;
} */
