.SiderContainer{
    position: fixed;
    z-index: 1500;
    height: 100vh;
    opacity: 0.9;
    /* background-color: brown; */
    box-shadow: 2px 8px 15px black;
    background-color: #d4eef1;
    padding: 2px;
    border-radius: 10px 10px 10px 10px;
}

.ContentContainer{
    padding: 20px;
    margin-left: 200px;
    transition: all ease-in-out 170ms;
}

.BoxCommentPanel{
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    box-shadow: 1px 3px 10px  0px rgba(73, 73, 40, 0.692);
    margin-bottom: 15px;
}
.comment-list{
    text-align: left;
    display: none;
    cursor: pointer;
    width: 100em;
}

.active{
    width: 100px;
    color: white;
}
.active:hover {
    background-color: rgb(53, 51, 51);
    color: white;
}
.SpinPanel{
    display: block;
}
.btnPanel:hover{
    /* background-color: thistle; */
    color: tomato;
}
.meruItem{
    background-color: #282c34;
    color: #09d3ac;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    box-shadow: 2px 6px 15px  0px rgba(73, 73, 40, 0.8);
    transition: all ease-in-out 200ms;
}
.meruItem:hover{
    background-color: navajowhite;
    color: red;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    border-radius: 10px 0px 10px 0px;
}
